---
permalink: /baby
title: Hoera!
verlanglijst_online_url: https://verlanglijst.online/rt96u9ey
hero_darken: true
hero_image: assets/images/baby_foot_1600.jpg
---
<html>
<body>
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        {% include card_baby_status.html %}
        {% include card_entry_policy.html %}

        {% include card_backstory_greetingcard_2.html %}

    </div> <!-- /tile left column -->
    <div class="tile is-4 is-vertical is-parent">
        {% include latest_baby_news.html %}
        {% include card_gift_suggestions.html %}
    </div> <!-- /tile middle column -->

    <div class="tile is-4 is-vertical is-parent">
        {% include card_visit_planner.html %}
        {% include card_milk_review.html %}

    </div> <!-- /tile right column -->
</div > <!-- /ancestor-tile -->

</body>
</html>