---
permalink: /baby
title: Hoera!
cal_com_url: https://cal.com/estherfelix/kraambezoek
forms_app_url: https://my.forms.app/form/634b07c31995f276251d1808

hero_darken: true
hero_image: assets/images/baby_foot_1600.jpg
---

<body>
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    {% include card_baby_status.html %}

      <article class="tile is-child message is-info">
          <div class="message-header">
            <p>Geboortekaartje</p>
          </div>
          <div class="message-body">
              na de geboorte.
          </div>
      </article>

    </div>
    <div class="tile is-4 is-vertical is-parent">
        <article class="tile is-child message is-warning">
          <div class="message-header">
            <p>Deurbeleid</p>
          </div>
          <div class="message-body">
                Een pasgeboren baby is kwetsbaar. Heb jij:<br/><br/>
              <div class="icon-text">
                <span class="icon has-text-danger">
                    <i class="fas fa-meh-blank"></i>
                </span>
                  <span>Koortslip</span>
                <a href="https://www.thuisarts.nl/koortslip/ik-heb-koortslip">
                    <span class="tag is-info is-light">meer info...</span>
                </a>
              </div>
              <div class="icon-text">
                <span class="icon has-text-danger">
                    <i class="fas fa-head-side-cough"></i>
                </span>
                  <span>verkoudheid / COVID-19</span>
              </div>
              <div class="icon-text">
                <span class="icon has-text-danger">
                    <i class="fas fa-dog"></i>
                </span>
                  <span>een huisdier bij je</span>
              </div>
              <br/>
              <p><b>Daarmee laten we je <u>niet</u> binnen</b>. </p>
              <p>Kom aub pas als je weer gezond bent en een oppas voor je huisdier hebt. We rekenen op je begrip.
                  We houden zolang een beschuitje apart voor je!</p>

          </div>
        </article>

        {% include card_gift_suggestions.html %}


        <article class="tile is-child message is-info">
          <div class="message-header">
            <p>Huisvlijt</p>
          </div>
          <div class="message-body">
              volgt
          </div>
        </article>
    </div> <!-- /tile middle column -->

    <div class="tile is-4 is-vertical is-parent">
         <div class="tile is-child card">
             <header class="card-header">
                 <p class="card-header-title">
                     Kraambezoek
                 </p>
             </header>
             <div class="card-content">
                 <div class="media">
                     <div class="media-left">
                        <span class="icon is-large">
                            <i class="fas fa-calendar fa-2x"></i>
                        </span>
                     </div>
                     <div class="media-content">
                         <a href="{{ page.cal_com_url }}" class="button is-danger">Boek jouw bezoek</a>
                         <p class="subtitle is-6"><small>Nog niet gestart.</small></p>
                     </div>
                 </div>
                 <div class="content">


                     <p>Je kiest zelf een plek in onze afsprakenplanner. </p>
                     <div class="notification is-warning"> Je verzoek wordt door ons <strong>bevestigd</strong></div>
                     <p><small>Na onze bevestiging verschijnt de afspraak in je agenda in Outlook/GoogleCalendar/iCal
                         op het emailadres dat je opgeeft.</small></p>
                     <h2>Zijn er geen plekken vrij?</h2>
                     <p>Naar gelang moeder en kind bezoek aankunnen vullen we de kalender met nieuwe plekken.
                         Kijk later opnieuw op deze website, of laat je email achter, dan krijg
                         je bericht zodra we plekken toevoegen.</p>
                     <div class="media">
                         <div class="media-left">
                             <span class="icon is-large">
                            <i class="fas fa-bell fa-2x"></i>
                        </span>
                         </div>
                         <div class="media-content">
                             <p>
                                <a href="/kraambezoek-wachtlijst" class="button is-danger is-centered">email achterlaten</a>
                            </p>
                         </div>
                     </div>

                     <h2>Speciale verzoeken</h2>
                     <p>Dan graag even bellen..</p>
                 </div>
                 <footer><small>Je email adres wordt door cal.com en forms.app alleen gebruikt voor deze
                     afspraak/wachtlijst en niet "verkocht".</small></footer>
             </div>

         </div> <!-- /card baby status -->
    </div> <!-- /tile right column -->
</div > <!-- /ancestor-tile -->

</body>
</html>