---
permalink: /baby
title: Hoera!

hero_darken: true
hero_image: assets/images/baby_foot_1600.jpg
---

<body>
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        {% include card_baby_status.html %}
        {% include latest_baby_news.html %}
        {% include card_entry_policy.html %}
        {% include card_gift_suggestions.html %}

    </div> <!-- /tile left column -->
    <div class="tile is-4 is-vertical is-parent">
        {% include card_visit_planner.html %}
        {% include card_airbnb.html %}
    </div> <!-- /tile middle column -->
    <div class="tile is-4 is-vertical is-parent">

        {% include card_backstory_greetingcard.html %}
        {% include card_soundtrack.html %}

    </div> <!-- /tile right column -->
</div > <!-- /ancestor-tile -->

</body>
</html>