---
permalink: /verwachting
title: Wij hebben er zin in!
cal_com_url:
verlanglijst_online_url: https://verlanglijst.online/rt96u9ey
hero_image: assets/images/echo_baby_example_xl.jpg
---

<body>
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
      {% include card_baby_status.html %}
  </div>
    <div class="tile is-4 is-vertical is-parent">
        {% include card_gift_suggestions.html %}
    </div>
    <div class="tile is-4 is-vertical is-parent">
        <article class="tile is-child message is-info">
          <div class="message-header">
            <p>Huisvlijt</p>
          </div>
          <div class="message-body">
              volgt
          </div>
        </article>
    </div> <!-- /tile middle column -->
</div>

    </div> <!-- /tile right column -->
</div > <!-- /ancestor-tile -->

</body>
</html>