 <div class="card">
            <header class="card-header">
                 <p class="card-header-title">
                    Recensie
                 </p>

            </header>

            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="assets/images/airbnb.jpg" alt="airbnb logo">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="subtitle is-6">Review door:</p>
                        <p class="title is-4">Anoniem</p>
                        <p class="subtitle is-6">verbleef hier 261 nachten</p>
                    </div>
                </div>
                <div class="content">
                    <h3>Gezellig, als je wifi kunt missen</h3>
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-home"></i>
                        </span><span class="has-text-danger">Kamer</span>
                    </div>
                        Vroeger was de kamer ruim, maar de laatste tijd is de kamer echt te klein.
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-handshake"></i>
                        </span><span class="has-text-danger">Host</span>
                    </div>
                    Superhost! Ze luistert naar me, geeft gratis massages en helpt me in slaap.
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-bed"></i>
                        </span><span class="has-text-danger">Voorzieningen</span>
                    </div>
                        Luxe! heerlijk bed. Airco staat altijd op 37 graden, ze bezuinigen niet, ondanks de energieprijzen.
                    <h3>Pluspunten</h3>
                    <ul>
                        <li>Ontbijt en ook de overige 26 maaltijden per dag zijn in de prijs inbegrepen</li>
                        <li>Animatieteam organiseert geinige hoorspellen</li>
                    </ul>
                    <h3>Minpunten</h3>
                    <ul>
                        <li>Hygiëne: ik weet zeker dat er iemand in het zwembad had <a href="https://www.24baby.nl/zwanger/zwangerschap-zo-werkt-het/vruchtwater/">geplast</a>, maar daar werd niks aan gedaan.</li>
                        <li>Wifi is te traag voor games en Netflix.</li>
                    </ul>


                </div>
                <div class="content">
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-info-circle"></i>
                        </span><span>Je kunt deze accomodatie nu niet boeken.</span>
                    </div>

                </div>
                <div class="content">
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-info-circle"></i>
                        </span><span>Reactie host: De <a href="/wifi">wifi</a> is prima net buiten de kamer.</span>
                    </div>

                </div>
            </div>
            <footer class="card-footer">
                <span class="card-footer-item">solo reiziger</span>
                <span class="card-footer-item">eenpersoonskamer</span>
            </footer>
        </div> <!-- card recensie -->
