<article class="tile is-child message is-info">
    <div class="message-header">
        <p>Soundtrack</p>
    </div>
    <div class="message-body">
        <p>Woorden schieten soms tekort. Daarom houdt Felix een
            Spotify playlist
            bij die zijn uiteenlopende gevoelens bij het nieuwe ouderschap uitdrukt.
        </p>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0jK6NBNgP0iu09T381CBIx?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
</article>