<div class="tile is-child card">
    <header class="card-header">
        <p class="card-header-title">
            Geboortekaartje
        </p>
    </header>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img class="is-rounded" src="assets/images/dino_egg.jpg" alt="little dino in eggshell">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">Een dino?</p>
            </div>
        </div>
        <div class="content">
            <p>
                <a href="https://www.heybuddycomics.com/tortoise-and-dino">HeyBuddyComics</a>
                behandelen liefdevol onderwerpen zoals zelftwijfel en sociale ongemakkelijkheid. De hoofdkarakters
                zijn <img src="assets/images/tortoise_dino.jpg" alt="stripfiguren tortoise en dino">
                maar wij vinden de bijrollen leuker: Twee dino's die elkaar door dik en dun bijstaan.

            </p>
            <div class="columns">
                <div class="column">
                    <figure class="image is-48x48">
                        <a href="assets/images/dinos_color_0930.jpg" target="_blank">
                            <img class="is-rounded" src="assets/images/dinos_color_0930.jpg">
                        </a>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-48x48">
                        <a href="assets/images/dinos_future.jpg" target="_blank">
                            <img class="is-rounded" src="assets/images/dinos_future.jpg">
                        </a>
                    </figure>
                </div>
            </div>
            <h3>
                En plots kwam deze:
            </h3>

            <figure class="image is-128x128">
                <a href="assets/images/dinos_adventures.jpg" target="_blank">
                    <img src="assets/images/dinos_adventures.jpg">
                </a>
            </figure>
            <p>
                Een nieuw karakter! En onze visie op een gezin in een tekening.
                Voor Patreons is er een extra tekening die het verhaal in één beeld
                samenvat. De tekenaars hebben ons toestemming
                verleend die te gebruiken voor de binnenzijde van de kaart. En dat
                de QR-code op de achterzijde je naar deze pagina stuurt heb je
                vast zelf al uitgevonden.
            </p>
            <p>
                Esther heeft de kaart bedacht en het grafisch ontwerp is naar onze wensen uitgewerkt
                door <a href="https://www.fiverr.com/mariamashfaq470">@mariamashfaq470</a>. Esther
                heeft elke kaart liefdevol met de hand geadresseerd.
            </p>
            <p>
                Als de strip je aanspreekt kun je de tekenaars steunen door bijvoorbeeld een <a href="https://shopdinosaur.com/collections/stocking-fillers/products/im-proud-of-you-5">mok</a>
                van ze te kopen, of net als Felix <a href="http://patreon.com/dinosandcomics">Patreon</a> te worden.
            </p>
            <figure class="image is-48x48">
                <a href="assets/images/dinos_home_0929.jpg" target="_blank">
                    <img class="is-rounded" src="assets/images/dinos_home_0929.jpg">
                </a>
            </figure>
        </div>
    </div>
    <footer class="card-footer">
        <p></p>
    </footer>
    </div> <!-- /card geboortekaartje -->