 <div class="card">
            <header class="card-header">
                 <p class="card-header-title">
                    Recensie
                 </p>

            </header>

            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="subtitle is-6">Review door:</p>
                        <p class="title is-4">Fijnproever2024</p>
                        <p class="subtitle is-6">bestelde: 36 consumpties</p>
                    </div>
                </div>
                <div class="content">
                    <h3>Snel geserveerd, romig en lekker warm! </h3>
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-home"></i>
                        </span><span class="has-text-danger">Hygiëne</span>
                    </div>
                        De host houdt het alles netjes en fris. Er hangt een prettige geur
                        die ik zelfs met mijn ogen dicht herken.
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-handshake"></i>
                        </span><span class="has-text-danger">Host</span>
                    </div>
                        Lieve host, maar ook wel streng. Ik wil het liefst na mijn portie lekker liggen
                        snoezen. Soms als ik dat doe gaat ze me porren, en opdringerig doen. Ik zie
                        nooit andere klanten in de rij staan dus ik snap haar gedram niet zo.
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-bed"></i>
                        </span><span class="has-text-danger">Voorzieningen</span>
                    </div>
                        Superlekker! Zachte aanligplekken en ze hebben er ook een lekker kussentje en een
                        knuffeldekentje
                    <h3>Pluspunten</h3>
                    <ul>
                        <li>de Melk is vol, romig, en biologisch</li>
                        <li>24/7 open, je kunt er altijd terecht</li>
                    </ul>
                    <h3>Minpunten</h3>
                    <ul>
                        <li>Ook al is er niemand voor me in de rij, ze laat je me
                            altijd even buiten wachten.
                        </li>
                        <li>Ze zetten de kraan vaak te ver open, dan komt er veel
                            teveel melk ineens en dan verslik ik me. Echt zó a-relaxed!
                        </li>
                    </ul>


                </div>

                <div class="content">
                    <div class="icon-text">
                        <span class="icon has-text-danger">
                            <i class="fas fa-info-circle"></i>
                        </span><span>Reactie host: We zijn de melkdruk op de kranen opnieuw aan het inregelen,
                        maar dat zou makkelijker zijn als de klant niet telkens andere hoeveelheden drinkt! </span>
                    </div>

                </div>
            </div>
            <footer class="card-footer">
                <span class="card-footer-item"># reviews: 1</span>
                <span class="card-footer-item">Gekochte productcategorie: rauwe melk</span>
            </footer>
        </div> <!-- card recensie -->
