<div class="tile is-child card">
    <header class="card-header">
        <p class="card-header-title">
            Geboortekaartje
        </p>
    </header>
    <div class="card-content">

        <div class="content">
            <p>
                Net als elke kersverse ouder, zitten wij
                vol verwachting klaar voor gezinsuitbreiding. Alles
                is aan kant en het leukste speelgoed staat al voor haar
                klaar, met de bestaande leden van het gezin in rust en vree.
                Een nieuwe dag kan beginnen.
            </p>
            <p>
                Leuk natuurlijk, rust. Maar als nieuwkomer boks je voor je plekje
                onder de zon en markeer je je territorium. Niet dat dat per se nodig is.
                Gewoon omdat het kan! En zelfs .. waar het nìet kan.
            </p>
            <p>
                Geboortekaartjes zijn niet alleen dromerig, ze zijn ook een tikje naïef.
                Met de ervaring van een eerste kind paste dat niet meer. Het kaartontwerp
                is een kwinkslag op die dromerigheid en natuurlijk verschijnen de dino's opnieuw
                ten tonele.
            </p>

        </div>
    </div>
    <footer class="card-footer">
        <p></p>
    </footer>
    </div> <!-- /card geboortekaartje -->