<article class="tile is-child message is-warning">
          <div class="message-header">
            <p>Deurbeleid</p>
          </div>
          <div class="message-body">
                Een pasgeboren baby is kwetsbaar. Heb jij:<br/><br/>
              <div class="icon-text">
                <span class="icon has-text-danger">
                    <i class="fas fa-meh-blank"></i>
                </span>
                  <span>Koortslip</span>
                <a href="https://www.thuisarts.nl/koortslip/ik-heb-koortslip">
                    <span class="tag is-info is-light">meer info...</span>
                </a>
              </div>
              <div class="icon-text">
                <span class="icon has-text-danger">
                    <i class="fas fa-head-side-cough"></i>
                </span>
                  <span>verkoudheid / COVID-19</span>
              </div>
              <div class="icon-text">
                <span class="icon has-text-danger">
                    <i class="fas fa-dog"></i>
                </span><span>een huisdier bij je</span>
              </div>
              <br/>
              <p><b>Daarmee laten we je <u>niet</u> binnen</b>. </p>
              <p>Kom aub pas als je weer gezond bent en een oppas voor je huisdier hebt. We rekenen op je begrip.
                  We houden zolang een beschuitje apart voor je!</p>

          </div>
        </article>