<div class="tile is-child card">
            <header class="card-header">
                <p class="card-header-title">
                    Kado?
                </p>
            </header>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <span class="icon is-large is-half">
                            <i class="fas fa-gift fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-content is-half" >
                        <a target="_blank" class="button is-link"
                        href="{{ site.data.gift_suggestions.verlanglijst_online_url }}">
                            Tips
                        </a>
                    </div>
                </div>
                <div class="content">
                    Je hoeft geen kado te geven! Maar we hebben vrijblijvend suggesties.
                </div>
            </div>
        </div> <!-- /card gifts list -->