



         <div class="tile is-child card">
             <header class="card-header">
                 <p class="card-header-title">
                     Kraambezoek
                 </p>
             </header>
             <div class="card-content">
                 <div class="media">
                     <div class="media-left">
                        <span class="icon is-large">
                            <i class="fas fa-calendar fa-2x"></i>
                        </span>
                     </div>
                     <div class="media-content">
                         <a href="{{ site.data.services_urls.cal_com_url }}" class="button is-danger">Boek jouw bezoek</a>
                         <p class="subtitle is-6"><small>We zijn open voor bezoek.</small></p>
                     </div>
                 </div>
                 <div class="content">
                     <p>Je kiest zelf een plek in onze afsprakenplanner. </p>
                     <div class="notification is-warning"> Je verzoek wordt door ons <strong>bevestigd</strong></div>
                     <p><small>Na onze bevestiging verschijnt de afspraak in je agenda in Outlook/GoogleCalendar/iCal
                         op het emailadres dat je opgeeft.</small></p>
                     <h2>Zijn er geen plekken vrij?</h2>
                     <p>Naar gelang moeder en kind bezoek aankunnen vullen we de kalender met nieuwe plekken.
                         Kijk later opnieuw op deze website, of laat je email achter, dan krijg
                         je bericht zodra we plekken toevoegen.</p>
                     <div class="media">
                         <div class="media-left">
                             <span class="icon is-large">
                            <i class="fas fa-bell fa-2x"></i>
                        </span>
                         </div>
                         <div class="media-content">
                             <p>
                                <a href="/kraambezoek-wachtlijst" class="button is-danger is-centered">email achterlaten</a>
                            </p>
                         </div>
                     </div>
                     <h2>Speciale verzoeken</h2>
                     <p>Dan graag even appen..</p>
                 </div>
                 <footer><small>Je email adres wordt door cal.com en forms.app alleen gebruikt voor deze
                     afspraak/wachtlijst en niet "verkocht".</small></footer>
             </div>

         </div> <!-- /card bezoekplanner -->
