         <div class="tile is-child card">
             <header class="card-header">
                 <p class="card-header-title">
                     Kennismakingsbezoek
                 </p>
             </header>
             <div class="card-content">
                 <div class="media">
                     <div class="media-left">
                        <span class="icon is-large">
                            <i class="fas fa-calendar fa-2x"></i>
                        </span>
                     </div>
                     <div class="media-content">
                         <p class="subtitle is-6"><small>We zijn open voor bezoek.</small></p>
                     </div>
                 </div>
                 <div class="content">
                     <p>De automatische bezoekplanner hebben we gestopt toen ze drie maanden was.
                         Sindsdien noemen we het kennismakingsbezoek in plaats van kraambezoek.
                         Je hebt onze contactgegevens, stuur een berichtje of bel. </p>
                 </div>

             </div>

         </div> <!-- /card bezoekplanner -->
