<div class="tile is-child card">
    <header class="card-header">
        <p class="card-header-title">
            Geboortekaartje volgt..
        </p>
    </header>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">Kaartje in de maak..</p>
            </div>
        </div>
        <div class="content">
            <p>
                Nog even geduld...
            </p>

        </div>
    </div>
    <footer class="card-footer">
        <p></p>
    </footer>
    </div> <!-- /card geboortekaartje -->