<article class="tile is-child message is-info">
    <div class="message-header">
        <p>Nieuws (11nov2022)</p>
    </div>
    <div class="message-body">
        <p>
            Onze dochter is nog aan het aansterken. Ze had een roerige eerste week. Ook wijzelf zijn aan het terugkomen van alarmstand.
        </p>
        <p>
            Opa's en Oma's maken hebben nu met haar kennisgemaakt. Op voorlopige basis boeken we intimi in.
            Voorlopig, want als onze dochter er niet klaar voor is annuleren we een bezoek.
        </p>
        <p>
          Tussen 12:00-14:30 halen wij slaap in.
          Het kan dus zijn dat we de telefoon niet beantwoorden en (traag of) niet reageren op je apps. We lezen ze wel.
        </p>
    </div>
</article>
