<article class="tile is-child message is-info">
    <div class="message-header">
        <p>Dreumes Nieuws </p>
    </div>
    <div class="message-body">
        <p>
            Onze dochter is bijna 2.
        </p>
        <p>
            Ze rent steeds harder door de kamer en wordt graag achternagezeten.
            Ze maakt groepjes van twee of drie woorden tot bondige, soms wat
            dwingende zinnen. Zoals "VEEL bomen!" (bos) of "botam eten" (ik wil
            nu een boterham eten) en "papa ZITTEN!" (Lieve papa, neem hier plaats,
            dan geef ik je een taakje). Ze zegt steevast bij elk afscheid "doei-amal"
            (doei allemaal).
        </p>
        <p>
            We zijn er gelukkig mee dat ze (eindelijk) doorslaapt en een mooi
            dagritme heeft. We respecteren dat altijd, ook op vakanties, als
            we bezoek krijgen en als we met het gezin op pad gaan.
        </p>
        <p>1 oktober 2024
        </p>
    </div>
</article>
