<article class="tile is-child message is-info">
    <div class="message-header">
        <p>Nieuws (29dec2022)</p>
    </div>
    <div class="message-body">
        <p>
            Onze dochter is goed op gewicht en groeit. Ze lacht soms en ze begint speeltjes en mensen te volgen met haar blik.
        </p>
        <p>
            Geïnteresseerden zijn welkom.
        </p>
        <p>
          Felix is weer aan het werk. Pas op: Onze dochter is zo'n baby
          die je bezoekt en daarna wil je (partner) er zelf ook een!
          
        </p>
    </div>
</article>
