<article class="tile is-child message is-info">
    <div class="message-header">
        <p>Nieuws (15nov2022)</p>
    </div>
    <div class="message-body">
        <p>
            Onze dochter is terug op haar geboortegewicht.
        </p>
        <p>
            Opa's en Oma's hebben nu met haar kennisgemaakt. Vrienden en geïnteresseerden zijn welkom.
        </p>
        <p>
          Tussen 12:00-14:30 halen wij slaap in.
          Het kan dus zijn dat we de telefoon niet beantwoorden en (traag of) niet reageren op je apps. We lezen ze wel.
        </p>
    </div>
</article>
