---
---
$primary: #3385a3;
// Import Main CSS file from theme
@import "main";

.message.is-info .message-header {
    background-color: $primary
}

.notification.is-info {
    background-color: $primary
}

.card-header {
    background-color: $primary
}

.card-header-title {
    color: #FFF
}
